<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/IMG/Tomate.ico">
    <link rel="stylesheet" href="../static/CSS/Email_redefiniçao.css">
    <title>Recuperação de Senha</title>
</head>
<body>
    <form class="container" id="form">
        <h1>Recuperar Senha</h1>
        <input type="email" id="email" placeholder="Email de Redefinição" />
        <button id="enviar">Enviar Email</button>
    </form>


</body>

</html>