<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/CSS/home.css">
    <link rel="icon" href="../static/IMG/Tomate.ico">
    <title>Ugly Nutrition</title>
</head>
<body>
    <header>
        <div class="logo">
        </div>
        <div class="opc">
            <span>
                <a href="{% url 'carrossel' %}">
                    <h2>COMPRAR</h2>
                </a>
                <a href="#">
                    <h2>MAPA</h2>
                </a href="#">
                <a  href="{% url 'Cad_cesta' %}">
                    <h2>ADMINISTRAR CESTAS</h2>
                </a>
                <a href="{% url 'ver' %}">
                    <h2 id="verr">VER MINHAS CESTAS</h2>
                </a>
            </span>
        </div>
        
    </header>
    <main>
        <section class="sec_home">
            <div class="logo_home">
            </div>
            <div class="folhas">
                    <img src="../static/IMG/Folha-direita.svg" alt="" class="folha">
                    <img src="../static/IMG/Folha-esquerda.svg" alt="" class="folha">
                </div>
                <img src="../static/IMG/MAPA (9).svg" alt="" class="grama">
        </section>
        <section class="sec_info1">
            <div class="top_sec_info1">
                <img src="../static/IMG/Top-sec-verde.svg" alt="" class="top_sec">
            </div>
            <div class="info_sec">
                <img src="../static/IMG/Morango.svg" alt="">
                <h2>Frutas com aparência estranha muitas vezes são ricas em nutrientes essenciais e, ao comprá-las diretamente em nosso site, você contribui para a redução do desperdício alimentar. Essas frutas, que normalmente seriam descartadas, são oferecidas a preços mais acessíveis e com a mesma qualidade e frescor.</h2>
            </div>
        </section>
        <section class="sec_info2">
            <div class="top_sec_info1">
                <img src="../static/IMG/Top-sec-vermelho.svg" alt="" class="top_sec">
            </div>
            <div class="info_sec2">
                <h2>Ao optar por nossas cestas, você não apenas desfruta de uma seleção variada de frutas e vegetais frescos, mas também ajuda a combater o desperdício alimentar. Muitas das frutas e legumes que incluímos em nossas cestas são de variedades imperfeitas ou com pequenos defeitos estéticos, mas são perfeitamente saudáveis e nutritivos.</h2>
                <img src="../static/IMG/Cesta.svg" alt="">
            </div>
        </section>
    </main>
</body>
</html>