<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/IMG/Tomate.ico">
    <link rel="stylesheet" href="../static/CSS/Trocar_senha.css">
    <title>Redefinição de Senha</title>
</head>
<body>
    <form class="container">
        <h1>Redefinir senha</h1>
        <input type="password" placeholder="Senha Antiga" />
        <input type="password" placeholder="Nova Senha" />
        <input type="password" placeholder="Repita a Senha" />
        <button>Trocar senha</button>
    </form>
</div>
</body>
</html>